.mapContainer {
  width: 50vw;
  height: 80vh;
}

.sidebarStyle {
  display: inline-block;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}
